@charset "utf-8";

/* 문서 */
h2.document-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}
h3.document-title {
  font-size: 24px;
  margin-bottom: 15px;
}
h4.document-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.document-group + .document-group {
  margin-top: 100px;
}

.document-cell + .document-cell {
  margin-top: 50px;
}
.document-detail {
  margin-top: 25px;
}
.document-detail + .document-detail {
  margin-top: 25px;
}
.document-info {
  font-size: 16px;
}
.document-detail > .document-info {
  font-size: 15px;
}
.example-code {
  padding: 16px;
  border: 1px solid var(--Colors-Solid-Stroke-1);
  .data + .data {
    margin-top:1.0rem;
  }
}
.document-data {
  margin-top: 15px;
}
.document-data + .document-data {
  margin-top: 15px;
}

/* 미리보기 코드 */
.preview-code {
  position: relative;
  padding: 0px 20px;
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #ccc;
  background: #2d2d2d;
}
.preview-code pre,
.preview-code code {
  font-family: sans-serif;
  letter-spacing: 0.025em;
  font-size: 14px;
  line-height: 1.4;
  color: #ccc;
}
.preview-code pre {
  margin: 0;
}
.preview-code .hljs {
  padding: 0;
}
.preview-info {
  margin-top: 20px;
}
.preview-code .user-code {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.4;
}
.preview-code.javascript {
  padding-top: 31px;
}
.preview-code.javascript:before {
  content: "javascript";
  position: absolute;
  top: -1px;
  left: -1px;
  display: inline-block;
  width: calc(100% + 2px);
  font-size: 14px;
  color: #000;
  background: #fafafa;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  z-index: 5;
  box-sizing: border-box;
}
.preview-code.css {
  padding-top: 31px;
}
.preview-code.css:before {
  content: "css";
  position: absolute;
  top: -1px;
  left: -1px;
  display: inline-block;
  width: calc(100% + 2px);
  font-size: 14px;
  color: #000;
  background: #fafafa;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  z-index: 5;
  box-sizing: border-box;
}
.preview-code.html {
  padding-top: 31px;
}
.preview-code.html:before {
  content: "html";
  position: absolute;
  top: -1px;
  left: -1px;
  display: inline-block;
  width: calc(100% + 2px);
  font-size: 14px;
  color: #000;
  background: #fafafa;
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  z-index: 5;
  box-sizing: border-box;
}

.color-guide {
    display: flex;
    flex-wrap: wrap;
    margin:-10px;

    & > li {
        width:12.5%;
        padding:10px;        
    }    
    .visual {
        position:relative;
        display:flex;
        aspect-ratio: 3/2;
        border-radius:0.5rem;
    
        .code {
            opacity:0;
            visibility:hidden;
        }
    }
    .txt {
        margin-top: 0.5rem;
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1024px) {
    .color-guide {        
        flex-wrap: nowrap;                
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin:0;
        gap:1.0rem;

        & > li {
            width:7.500rem;
            flex:0 0 auto;
            padding:0;
        }
    }
}
