@charset "utf-8";
/* ===========================
// footer
=========================== */

#dFoot {
  &.hide {
    display:none;
  }
}

.footer-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  z-index: 0;  

  .footer-outer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200%;
  }

  .footer-inner {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    overflow: hidden;
  }

  .footer-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    img,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer-data {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    z-index: 5;
  }

  .footer-box {
    padding: 2.625rem 2.625rem 2.25rem 2.625rem;
    border-radius: 0.75rem;
    background-color: var(--Colors-Solid-Glass-Dark);
    backdrop-filter: var(--glass-blur-lg);
  }

  .info {
    flex: 0 0 auto;
    margin-right: 3.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    color: #fff;

    address {
      font-size: var(--label-03-font-size);
      line-height: var(--label-03-line-height);
      font-weight: var(--label-03-font-weight);
      letter-spacing: var(--label-03-letter-spacing);
      font-style: normal;
    }

    .copy {
      font-size: var(--label-03-font-size);
      line-height: var(--label-03-line-height);
      font-weight: var(--label-03-font-weight);
      letter-spacing: var(--label-03-letter-spacing);
    }
  }

  .footer-row {
    display: flex;
    justify-content: space-between;

    & + .footer-row {
      margin-top: 6.375rem;
    }

    &:nth-child(2) {
      align-items: flex-end;
    }
  }

  .footer-sns {
    .sns-list {
      display: flex;
      gap:0.5rem 2rem;
      flex-wrap:wrap;

      a {
        font-size: var(--label-03-font-size);
        line-height: var(--label-03-line-height);
        font-weight: var(--label-03-font-weight);
        letter-spacing: var(--label-03-letter-spacing);
        color: #fff;
      }
    }

    .info {
      display: none;
    }
  }

  .footer-logo {
    width: 22.938rem;
  }

  .footer-headline {
    color: #fff;
    width:41.64%;
    max-width:46.125rem;
    padding-right:82px;

    .desc {
      font-family: var(--gothic-title-02-font-family);
      font-size: var(--gothic-title-02-font-size);
      line-height: var(--gothic-title-02-line-height);
      font-weight: var(--gothic-title-02-font-weight);
      letter-spacing: var(--gothic-title-02-letter-spacing);
    }

    .btn-contact {
      margin-top: 2rem;
      display: inline-flex;
      align-items:center;
      gap: 0.625rem;
      font-size: var(--label-03-font-size);
      line-height: var(--label-03-line-height);
      font-weight: var(--label-03-font-weight);
      letter-spacing: var(--label-03-letter-spacing);
    }

    .pc-data {
      display: block;
    }

    .tab-data {
      display: none;
    }

    .mo-data {
      display: none;
    }
  }

  .footer-info {
    position: relative;
    z-index: 5;
    display: inline-flex;        
    flex-direction: column;
    width:41.64%;
    max-width:46.125rem;
    gap:1.0rem;

    .family {
    }
  }
}

.footer-family {
  position: relative;
  display: inline-flex;
  min-width: 18.8rem;

  &.active {
    .btn-dropdown-nav {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  .btn-dropdown-nav {
    display: flex;
    width: 100%;
    height: 3.25rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem 0 1.5rem;
    color: #fff;
    border-radius: 0.5rem;
    background-color: var(--Colors-Solid-Mono-600);
    font-size: var(--label-02-font-size);
    line-height: var(--label-02-line-height);
    font-weight: var(--label-02-font-weight);
    letter-spacing: var(--label-02-letter-spacing);

    .arrow {
      display: block;
      width: 1rem;
      height: 1rem;
      transform: rotate(0deg);
      background: url(../../images/icon/icon-ui-up-white.svg) center center no-repeat;
      background-size: 100% 100%;
      transition: transform 0.2s ease;
    }
  }

  .dropdown-data {
    position: absolute;
    bottom: 3.25rem;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.625rem;
    border-radius: 0.5rem;
    background-color: var(--Colors-Solid-Mono-600);
    transition: height 0.4s var(--transition-easeOutQuart);
  }

  .dropdown-list {
    padding: 1rem 1.25rem 1rem 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .btn-dropdown-item {
    display: inline-block;
    line-height: 1.25rem;
    font-size: var(--label-02-font-size);
    line-height: var(--label-02-line-height);
    font-weight: var(--label-02-font-weight);
    letter-spacing: var(--label-02-letter-spacing);

    &:after {
      content: "";
      display: inline-flex;
      width: 1.25rem;
      height: 1.25rem;
      background: url(../../images/icon/icon-ui-move-white.svg) center center no-repeat;
      background-size: 100% 100%;
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }
}

/* ===========================
// device width : 1280
=========================== */
@media screen and (max-width: 1280px) {
  .footer-wrap {
    .footer-headline {
      padding-right:0;
    }
  }
}

/* ===========================
// device width : 1024
=========================== */
@media screen and (max-width: 1024px) {
  .footer-wrap {

    .footer-row {
      display: block;

      & + .footer-row {
        margin-top: 8.625rem;
      }
    }


    .footer-sns {
      .sns-list{
        gap:0 1.5rem;
      }
    }

    .footer-headline {
      width:100%;
      max-width:100%;
      margin-top:1.0rem;
      .pc-data {
        display: none;
      }

      .tab-data {
        display: block;
      }

      .mo-data {
        display: none;
      }

      .btn-contact {
        margin-top:1.0rem;
      }
    }

    .footer-info {
      width:100%;
      max-width:100%;      
      gap:1.0rem;
      margin-top:1.0rem;

      .info {
        order :1;        
        gap:0.250rem;
      }

      .family {
        order:2;
      }
    }

    .footer-data {
      padding: 1.25rem 1.5rem;
    }

    .footer-box {
      padding: 1.25rem 1.25rem 1.750rem 1.25rem;
    }

    .footer-logo {
      width:12.500rem;
    }
  }
}


/* ===========================
// device width : 768
=========================== */
@media screen and (max-width: 480px) {
  .footer-wrap {
    .footer-box {
      padding: 1.25rem 1.25rem 1.75rem 1.25rem;
    }
    .footer-data {
      padding:0.75rem 1rem;
    }

    .footer-row + .footer-row {      
      margin-top:4.625rem;
    }

    .footer-headline {
      .pc-data {
        display: none;
      }

      .tab-data {
        display: none;
      }

      .mo-data {
        display: block;
      }
    }

    .footer-info {      
      .info {
        margin:0;
      }

      .family {
        
      }
    }
  }

  .footer-family {
    min-width: 0;
    width: 100%;

    .btn-dropdown-nav {
      height: 3rem;
    }

    .dropdown-data {
      position: absolute;
      bottom: 3rem;
      margin-bottom: 0.375rem;
    }

    .dropdown-list {
      padding: 1rem 1.25rem 1rem 1.5rem;
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1.375rem;
    }

    .btn-dropdown-item {
      &:after {
        width: 1rem;
        height: 1rem;
        margin-left: 0.375rem;
      }
    }
  }
}
