@charset "utf-8";
/* ===========================
// ir
=========================== */





/* ===========================
// device width : 1280
=========================== */
@media screen and (max-width:1280px) {

}


/* ===========================
// device width : 1024
=========================== */
@media screen and (max-width:1024px) {

}
/* ===========================
// device width : 768
=========================== */
@media screen and (max-width:768px) {

}