:root {    
    --transition-easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --transition-easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --transition-easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --transition-easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --transition-easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
    --transition-easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --transition-easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --transition-easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --transition-easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --transition-easeOutQubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --transition-easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition-easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
    --transition-easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
    --transition-easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
    --transition-easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
    --transition-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --transition-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition-easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
    --transition-easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
    --transition-easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --transition-easeInOutExpo: cubic-bezier(1, 0, 0, 1);
    --transition-easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --transition-easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    /* solid - green */  
    --Colors-Solid-Green-400 : #bcd7cf;
    --Colors-Solid-Green-500 : #80b2a6;
    --Colors-Solid-Green-800 : #255a4b;
    --Colors-Solid-Green-900 : #08382F;

    /* solid - Mono */  
    --Colors-Solid-Mono-White : #fff;
    --Colors-Solid-Mono-Black : #131415;
    --Colors-Solid-Mono-100 : #f5f5f5;
    --Colors-Solid-Mono-200 : #DFE4E6;
    --Colors-Solid-Mono-300 : #D0D5D6;
    --Colors-Solid-Mono-400 : #A3AAAC;
    --Colors-Solid-Mono-500 : #828d92;
    --Colors-Solid-Mono-600 : #6a7275;
    --Colors-Solid-Mono-700 : #535862;
    --Colors-Solid-Mono-800 : #2f363a;

    /* solid - Accent */
    --Colors-Solid-Accent-Lime : #E6FF96;
    --Colors-Solid-Accent-Dot-1 : rgba(83, 88, 98, 0.50);
    --Colors-Solid-Accent-Dot-2 : rgba(83, 88, 98, 0.30);

    /* solid - Glass */
    --Colors-Solid-Glass-Light-1 : rgba(255, 255, 255, 0.80);
    --Colors-Solid-Glass-Light-2 : rgba(255, 255, 255, 0.20);
    --Colors-Solid-Glass-Dark : rgba(47, 54, 58, 0.40);

    /* solid - Stroke */
    --Colors-Solid-Stroke-1 : #E7EAED;
    --Colors-Solid-Stroke-2 : #C9CFD1; 

    /* text - gray */
    --Colors-Text-white : #fff;
    --Colors-Text-Black : var(--Colors-Solid-Mono-Black);
    --Colors-Text-Gray-100 : var(--Colors-Solid-Mono-100);
    --Colors-Text-Gray-200 : var(--Colors-Solid-Mono-200);
    --Colors-Text-Gray-300 : var(--Colors-Solid-Mono-300);
    --Colors-Text-Gray-400 : var(--Colors-Solid-Mono-400);
    --Colors-Text-Gray-500 : var(--Colors-Solid-Mono-500);
    --Colors-Text-Gray-600 : var(--Colors-Solid-Mono-700);
    --Colors-Text-Gray-800 : var(--Colors-Solid-Mono-800);

    /* text - green */
    --Colors-Text-Green-400 : var(--Colors-Solid-Green-400);
    --Colors-Text-Green-500 : var(--Colors-Solid-Green-500);
    --Colors-Text-Green-800 : var(--Colors-Solid-Green-800);
    --Colors-Text-Green-900 : var(--Colors-Solid-Green-900);

    /* glass blur */
    --glass-blur-xl : blur(120px);
    --glass-blur-lg : blur(60px);
    --glass-blur-md : blur(32px);
    --glass-blur-sm : blur(16px);

    --skeleton-bg : linear-gradient(
        90deg,
        #f5f5f5 0%,        
        #f5f5f5 50%,
        #ffffff 60%,
        #f5f5f5 80%,
        #f5f5f5 100%
      );

      --skeleton-bg-dark : linear-gradient(
        90deg,
        #e8e8e8 0%,        
        #e8e8e8 50%,
        #ffffff 60%,
        #e8e8e8 80%,
        #e8e8e8 100%
      );

    --skeleton-size : 200% 100%;
    --skeleton-animation : skeleton-move 2s 0.5s ease-in-out infinite;

    --guide-left : 2.0rem;
    --guide-right : 2.0rem;
    
}

@media screen and (max-width: 768px) {
  :root {
    --guide-left : 1.5rem;
    --guide-right : 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --guide-left : 1.0rem;
    --guide-right : 1.0rem;
  }
}

